PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_NAME=algorithmika
DB_USER=postgres
DB_PASSWORD=root
JWT_SECRET=5345caff-9a52-407b-b45d-95e9fb29e936
JWT_EXPIRES_IN=7d
FRONTEND_URL=http://localhost:5173
TRUST_PROXY_HOPS=1
DB_SSL=false
NODE_ENV=development
